<div class="group-list " [ngClass]="listOpened ? 'group-list-open' : null" (click)="toggleList()">
    <div class="group-list-header">
      <i class="pi" [ngClass]="listOpened ? 'pi-caret-up' : 'pi-caret-down'"></i>
      <label (click)="onGroupInputClicked($event)">
        <input type="checkbox" [value]="groupData.id" [checked]="groupSelected" (change)="toggleGroupSelection($event)">
        {{ groupData.name }}
      </label>
    </div>
    <div class="group-list-items">

      <label (click)="onGroupInputClicked($event)" *ngFor="let device of groupData.devices; let i = index"
             [ngClass]="parseBool(device.active) ? null : 'disabled'">
        <input type="checkbox" [value]="device.id" [disabled]="!parseBool(device.active)"
               [(ngModel)]="device.checked" (change)="onGroupSelectionChange()">
        {{ device.name }} <span *ngIf="!parseBool(device.active)">(inactive)</span>
      </label>

    </div>
 </div>
