<div class="group-list-container">

  <app-group-selection *ngFor="let
    groupData of groupsData; let i = index" [groupData]="groupData" (sendGroupToUpdate)="sendGroupsToUpdate($event)"></app-group-selection>

</div>
