<div class="p-grid">
    <div class="p-col-12 p-md-4 p-lg-3">
      <h3 class="step">
        <span class="step-num">1</span>
        Select Blackboxes
      </h3>

        <app-group-selection-list [groupsData]="deviceGroups" (sendGroupsToPage)="updateGroups($event)"></app-group-selection-list>

    </div>
    <div class="p-col-12 p-md-4 p-lg-6 p-nogutter">
    <div class="p-grid">
      <div class="p-col-12 p-lg-6">
        <h3 class="step">
          <span class="step-num">2</span>
          Select Protocols
        </h3>
        <div class="box background-box">

          <label *ngFor="let protocol of protocols">
            <input [(ngModel)]="protocol.checked" (change)="onProtocolSelectionChange($event,protocol)"
                   type="checkbox" value="{{ protocol.id }}">{{ protocol.name }}
          </label>

        </div>
      </div>
      <div class="p-col-12 p-lg-6">
        <h3 class="step">
          <span class="step-num">3</span>
          Select Time Period
        </h3>
        <div class="box background-box">

          <label *ngFor="let time of times; let i = index">
            <input (change)="onTimeSelectionChange($event,time)"
              type="radio" name="timePeriod" value="{{ time.id }}">{{ time.name }}
          </label>

        </div>
      </div>
    </div>
    </div>
    <div class="p-col-12 p-md-4 p-lg-3">
      <h3 class="step">
        Summary
      </h3>
      <div class="box border-box">
          <dl class="summary-list">
            <dt class="step-num">1</dt>

            <dd class="placeholder">-Select Blackboxes-</dd>
            <ng-container *ngFor="let group of deviceGroups">
              <ng-container *ngFor="let device of group.devices">
                <dd *ngIf="device.checked">{{ device.name }}</dd>
              </ng-container>
            </ng-container>

          </dl>

          <dl class="summary-list">
            <dt class="step-num">2</dt>

            <dd class="placeholder">-Select Protocols-</dd>
            <ng-container *ngFor="let protocol of protocols">
              <dd *ngIf="protocol.checked">{{ protocol.name }}</dd>
            </ng-container>

          </dl>

          <dl class="summary-list">
            <dt class="step-num">3</dt>
            <dd class="placeholder">-Select Time Period-</dd>
            <ng-container *ngFor="let time of times">
              <dd *ngIf="time.checked">{{ time.name }}</dd>
            </ng-container>
          </dl>

          <div class="buttons-line">
            <a href="#" class="reg-text-link" (click)="onClearClick($event)">Clear</a>
            <button class="start-button" (click)="onLearnClick($event)" [disabled]="learnQueryString === ''">
              <i class="pi pi-caret-right"></i>Start Learning
            </button>
          </div>

      </div>
    </div>
</div>
