@import "./variables";
@import "./primeflex/primeflex";
@import "~roboto-fontface/css/roboto/sass/roboto-fontface";
@import '~primeicons/primeicons.css';

html, body {
  font-family: Roboto, sans-serif;
  color: $base-text-color;
  font-weight: 300;
  font-size: 14px;
}

body {
  margin: $base-gap/2 $base-gap;
}

h1, h2, h3, h4, h5, h6 {
  color: $base-text-color;
}

.step {
  font-size: 14px;
  font-weight: 300;
  line-height:$base-gap*2;
  margin: 0;
  padding: 0;
}
.step-num {
  font-weight: 600;
  font-size: 18px;
}
.box {
  padding: $base-gap/2 $base-gap;
  label {
    display: block;
    margin-bottom: 6px;
    // fix height difference of checkbox and radio
    height: 19px;
    input {
      vertical-align: bottom;
    }
  }
}
.border-box {
  border: $base-border-light;
  padding-bottom: $base-gap;
}
.background-box {
  background: $base-background-light;
}

.p-grid, .p-grid>div {
  box-sizing: border-box;
}
.p-nogutter {
  padding-bottom: 0 !important;
}
.group-list-container {
  .group-list {
    line-height: 20px;
    input {
      vertical-align: bottom;
    }
    &.group-list-open {
      .group-list-items {
        height:auto;
      }
    }
    .group-list-header {
      background: $base-background-dark;
      color: $negative-text-color;
      margin-bottom: 1px;
      .pi {
        width: $base-gap;
        height: $base-gap;
        padding: 2px 0 2px $base-gap;
      }
      label {
        display: inline-block;
        padding: 7px $base-gap/2 7px 0;
        margin-left: $base-gap/2;
      }
    }
    .group-list-items {
      height: 0;
      overflow: hidden;
      transition: height 2s ease-out;
      border-left: $base-border-light;
      border-right: $base-border-light;
      label {
        display: block;
        padding: 5px $base-gap/2 5px $base-gap*3;
        &:first-child {
          border-top: $base-border-light;;
        }
        &:last-child {
          border-bottom: $base-border-light;
          margin-bottom: 1px;
        }
      }
    }
  }
}

dl.summary-list {
  position: relative;
  border-bottom: $base-border-light;
  padding-bottom: $base-gap;
  &:first-child {
    margin-top: 0;
  }
  dt {
    position: absolute;
  }
  dd {
    margin-left: $base-gap*2;
    margin-bottom: 4px;
    &:nth-child(2) {
      padding-top: 4px;
    }
    &:nth-child(3) {
      margin-top: -20px;
      background: #fff;
      position: relative;
    }
    &.placeholder {
      color: $disabled-text-color;
      font-style: italic;
    }
  }
}

.start-button {
  font-size: 18px;
  font-weight: 400;
  margin-left: $base-gap;
  border: none;
  border-radius: 2px;
  background: $base-background-dark;
  color: $negative-text-color;
  padding: 3px 10px 3px 3px;
  &:disabled {
    background: $disabled-background-dark;
  }
  i.pi {
    font-size: 24px;
    vertical-align: middle;
  }
}

.reg-text-link {
  text-decoration: none;
  &:link, &:visited {
    color: $base-text-color;
  }
}

.buttons-line {
  white-space: nowrap;
}

.disabled {
  color: $disabled-text-color;
}
